<a href="https://colab.research.google.com/github/Yifshao/6889spark/blob/main/get_stock_price/get_stock_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# This must be run within a Google Colab environment 
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import sys
import os

sys.path.append('/content/gdrive/ELEN6889')

os.chdir("/content/gdrive/My Drive/ELEN6889")

In [3]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 14.8 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [4]:
from get_stock_price import get_stock

默认读取近60个交易日数据。以五分钟为间隔

In [5]:
APPLE = get_stock('AAPL')

[*********************100%***********************]  1 of 1 completed

In [6]:
APPLE

                                Close   Adj Close
Datetime
2022-02-07 09:30:00-05:00  172.814301  172.814301
2022-02-07 09:35:00-05:00  173.149994  173.149994
2022-02-07 09:40:00-05:00  173.490005  173.490005
2022-02-07 09:45:00-05:00  172.945007  172.945007
2022-02-07 09:50:00-05:00  173.729996  173.729996
...                               ...         ...
2022-05-03 15:40:00-04:00  158.910004  158.910004
2022-05-03 15:45:00-04:00  158.899994  158.899994
2022-05-03 15:50:00-04:00  159.330002  159.330002
2022-05-03 15:55:00-04:00  159.479996  159.479996
2022-05-03 16:00:00-04:00  159.479996  159.479996

[4681 rows x 2 columns]

In [ ]:
GOOGLE = get_stock('GOOG')

[*********************100%***********************]  1 of 1 completed

In [ ]:
META = get_stock('FB')

[*********************100%***********************]  1 of 1 completed

In [ ]:
AMAZON = get_stock('AMZN')

[*********************100%***********************]  1 of 1 completed

In [ ]:
NETFLIX = get_stock('NFLX')

[*********************100%***********************]  1 of 1 completed

In [ ]:
BOEIN = get_stock('BA')

[*********************100%***********************]  1 of 1 completed

In [ ]:
UBER = get_stock('UBER')

[*********************100%***********************]  1 of 1 completed

In [ ]:
TWITTER = get_stock('TWTR')

[*********************100%***********************]  1 of 1 completed

In [ ]:
MICROSOFT = get_stock('MSFT')

[*********************100%***********************]  1 of 1 completed

In [ ]:
MICROSOFT.to_csv('data_60days/MSFT.csv')

#几个参数用法

##interval：改变间隔。目前仅支持5min，15min，30min，1hour。如果后面需要10min我再单独写

In [ ]:
TEST = APPLE = get_stock('AAPL',interval = '1h')

[*********************100%***********************]  1 of 1 completed

In [ ]:
TEST

                                Close   Adj Close
2022-01-28 09:30:00-05:00  165.449600  165.449600
2022-01-28 10:30:00-05:00  167.899994  167.899994
2022-01-28 11:30:00-05:00  168.235794  168.235794
2022-01-28 12:30:00-05:00  168.270004  168.270004
2022-01-28 13:30:00-05:00  166.945007  166.945007
...                               ...         ...
2022-04-25 12:30:00-04:00  160.119995  160.119995
2022-04-25 13:30:00-04:00  161.010895  161.010895
2022-04-25 14:30:00-04:00  162.210007  162.210007
2022-04-25 15:30:00-04:00  162.850006  162.850006
2022-04-25 16:00:00-04:00  162.880005  162.880005

[421 rows x 2 columns]

## period: 默认近60个工作日。可以自行输入1-59的整数。

In [ ]:
TEST = get_stock('AAPL',period = 59)

[*********************100%***********************]  1 of 1 completed

In [ ]:
TEST

                                Close   Adj Close
Datetime
2022-01-14 09:30:00-05:00  171.440002  171.440002
2022-01-14 09:35:00-05:00  172.470001  172.470001
2022-01-14 09:40:00-05:00  172.670197  172.670197
2022-01-14 09:45:00-05:00  172.539902  172.539902
2022-01-14 09:50:00-05:00  172.927307  172.927307
...                               ...         ...
2022-04-08 15:40:00-04:00  170.680801  170.680801
2022-04-08 15:45:00-04:00  170.210007  170.210007
2022-04-08 15:50:00-04:00  170.050003  170.050003
2022-04-08 15:55:00-04:00  170.139999  170.139999
2022-04-08 16:00:00-04:00  170.089996  170.089996

[4603 rows x 2 columns]

## start_day: 可以限制开始日期。默认我设的今年1月1日。格式见我的例子。如果输入的日期是在60个交易日之前那还是会输出近60个交易日数据。

In [ ]:
TEST = get_stock('AAPL', start_day = '2022-02-01 00:00:00.000000')

[*********************100%***********************]  1 of 1 completed

In [ ]:
TEST

                                Close   Adj Close
Datetime
2022-02-01 09:30:00-05:00  173.600006  173.600006
2022-02-01 09:35:00-05:00  173.279999  173.279999
2022-02-01 09:40:00-05:00  172.589996  172.589996
2022-02-01 09:45:00-05:00  172.701797  172.701797
2022-02-01 09:50:00-05:00  172.630005  172.630005
...                               ...         ...
2022-04-08 15:40:00-04:00  170.680801  170.680801
2022-04-08 15:45:00-04:00  170.210007  170.210007
2022-04-08 15:50:00-04:00  170.050003  170.050003
2022-04-08 15:55:00-04:00  170.139999  170.139999
2022-04-08 16:00:00-04:00  170.089996  170.089996

[3745 rows x 2 columns]

## end_day: 可以限制结尾日期。格式和start_day一样。默认是time now.

In [ ]:
TEST = get_stock('AAPL', end_day = '2022-04-01 17:00:00.000000')

[*********************100%***********************]  1 of 1 completed

In [ ]:
TEST

                                Close   Adj Close
Datetime
2022-01-13 09:30:00-05:00  176.000000  176.000000
2022-01-13 09:35:00-05:00  176.360001  176.360001
2022-01-13 09:40:00-05:00  176.119995  176.119995
2022-01-13 09:45:00-05:00  176.083405  176.083405
2022-01-13 09:50:00-05:00  176.009995  176.009995
...                               ...         ...
2022-04-01 15:35:00-04:00  172.979996  172.979996
2022-04-01 15:40:00-04:00  172.889999  172.889999
2022-04-01 15:45:00-04:00  173.065002  173.065002
2022-04-01 15:50:00-04:00  174.279999  174.279999
2022-04-01 15:55:00-04:00  174.259995  174.259995

[4290 rows x 2 columns]